{%  extends "base.html.twig" %}

{%  block title %}Accueil{% endblock %}

{% block body %}


        <div class="row container cards-home">
            <div class="col s5 ">
                <h2 class="header">Historique - Culturel</h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://www.vieux-lyon.org/images_unesco/Dscn0145a.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Revivez l'histoire de Lyon en découvrant les vestiges romains ou la basilique de Fourvière.</p>
                        </div>
                        <div class="card-action">
                            <a href="#" >Découvrir ces parcours</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s5 offset-s2">
                <h2 class="header">Traboules</h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://www.latour-lyon.com/gite_chambres_hotes_lyon/crbst_import25.jpg?v=259i5kljjgc9xn">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>C'est parti pour une balade à travers les étroites ruelles pavées et célèbres traboules !</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Découvrir ces parcours</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}